In [20]:
import pandas

In [21]:
training_data = pandas.read_excel('Database_Eurotop_v5 - First scenario (Training).xlsx')

In [22]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4776 entries, 0 to 4775
Data columns (total 42 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Label         4776 non-null   object
 1   CLASH Label   4286 non-null   object
 2   Hm0 d         4776 non-null   float64
 3   Tp d          4776 non-null   float64
 4   Tm d          4776 non-null   float64
 5   Tm1,0 d       4776 non-null   float64
 6   hdeep         4776 non-null   float64
 7   mmm           4734 non-null   float64
 8   β             4776 non-null   int64
 9   Spread s      4776 non-null   int64
 10  h             4776 non-null   float64
 11  Hm0 toe       4776 non-null   float64
 12  Tp toe        4776 non-null   float64
 13  Tm toe        4776 non-null   float64
 14  Tm1,0t        4776 non-null   float64
 15  ht            4776 non-null   float64
 16  Bt            4776 non-null   float64
 17  cotαd         4776 non-null   float64
 18  cotαu         4776 non-null   float64
 19  cotαexcl      4776 non-null   float64
 20  cotαincl      4776 non-null   float64
 21  gf_d          4776 non-null   float64
 22  D50_d         4637 non-null   float64
 23  gf_u          4776 non-null   float64
 24  D50_u         4637 non-null   float64
 25  gf            4776 non-null   float64
 26  D             4637 non-null   float64
 27  Rc            4776 non-null   float64
 28  B             4776 non-null   float64
 29  hb            4776 non-null   float64
 30  tanαB         4776 non-null   float64
 31  Bh            4776 non-null   float64
 32  Ac            4776 non-null   float64
 33  Gc            4776 non-null   float64
 34  RF            4776 non-null   int64
 35  CF            4776 non-null   int64
 36  WF            4776 non-null   int64
 37  q             4776 non-null   float64
 38  Core data     4776 non-null   object
 39  Reference     4776 non-null   object
 40  Futher notes  107 non-null    object
 41  #             4776 non-null   int64
dtypes: float64(31), int64(6), object(5)
memory usage: 1.5+ MB

In [23]:
training_data = training_data.drop(['Label','CLASH Label', 'Core data', 'Reference', 'Futher notes', '#'],axis=1)

In [24]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4776 entries, 0 to 4775
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Hm0 d     4776 non-null   float64
 1   Tp d      4776 non-null   float64
 2   Tm d      4776 non-null   float64
 3   Tm1,0 d   4776 non-null   float64
 4   hdeep     4776 non-null   float64
 5   mmm       4734 non-null   float64
 6   β         4776 non-null   int64
 7   Spread s  4776 non-null   int64
 8   h         4776 non-null   float64
 9   Hm0 toe   4776 non-null   float64
 10  Tp toe    4776 non-null   float64
 11  Tm toe    4776 non-null   float64
 12  Tm1,0t    4776 non-null   float64
 13  ht        4776 non-null   float64
 14  Bt        4776 non-null   float64
 15  cotαd     4776 non-null   float64
 16  cotαu     4776 non-null   float64
 17  cotαexcl  4776 non-null   float64
 18  cotαincl  4776 non-null   float64
 19  gf_d      4776 non-null   float64
 20  D50_d     4637 non-null   float64
 21  gf_u      4776 non-null   float64
 22  D50_u     4637 non-null   float64
 23  gf        4776 non-null   float64
 24  D         4637 non-null   float64
 25  Rc        4776 non-null   float64
 26  B         4776 non-null   float64
 27  hb        4776 non-null   float64
 28  tanαB     4776 non-null   float64
 29  Bh        4776 non-null   float64
 30  Ac        4776 non-null   float64
 31  Gc        4776 non-null   float64
 32  RF        4776 non-null   int64
 33  CF        4776 non-null   int64
 34  WF        4776 non-null   int64
 35  q         4776 non-null   float64
dtypes: float64(31), int64(5)
memory usage: 1.3 MB

In [25]:
training_data['q']

0       0.025600
1       0.017500
2       0.016000
3       0.012300
4       0.010300
          ...
4771    0.000015
4772    0.000015
4773    0.000015
4774    0.000015
4775    0.000015
Name: q, Length: 4776, dtype: float64

In [26]:
training_data_filtered = training_data.dropna(axis=0,how='any')

In [27]:
training_data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4595 entries, 0 to 4775
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Hm0 d     4595 non-null   float64
 1   Tp d      4595 non-null   float64
 2   Tm d      4595 non-null   float64
 3   Tm1,0 d   4595 non-null   float64
 4   hdeep     4595 non-null   float64
 5   mmm       4595 non-null   float64
 6   β         4595 non-null   int64
 7   Spread s  4595 non-null   int64
 8   h         4595 non-null   float64
 9   Hm0 toe   4595 non-null   float64
 10  Tp toe    4595 non-null   float64
 11  Tm toe    4595 non-null   float64
 12  Tm1,0t    4595 non-null   float64
 13  ht        4595 non-null   float64
 14  Bt        4595 non-null   float64
 15  cotαd     4595 non-null   float64
 16  cotαu     4595 non-null   float64
 17  cotαexcl  4595 non-null   float64
 18  cotαincl  4595 non-null   float64
 19  gf_d      4595 non-null   float64
 20  D50_d     4595 non-null   float64
 21  gf_u      4595 non-null   float64
 22  D50_u     4595 non-null   float64
 23  gf        4595 non-null   float64
 24  D         4595 non-null   float64
 25  Rc        4595 non-null   float64
 26  B         4595 non-null   float64
 27  hb        4595 non-null   float64
 28  tanαB     4595 non-null   float64
 29  Bh        4595 non-null   float64
 30  Ac        4595 non-null   float64
 31  Gc        4595 non-null   float64
 32  RF        4595 non-null   int64
 33  CF        4595 non-null   int64
 34  WF        4595 non-null   int64
 35  q         4595 non-null   float64
dtypes: float64(31), int64(5)
memory usage: 1.3 MB

In [28]:
training_data_filtered = training_data_filtered.reset_index(drop=True)

In [29]:
training_data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4595 entries, 0 to 4594
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Hm0 d     4595 non-null   float64
 1   Tp d      4595 non-null   float64
 2   Tm d      4595 non-null   float64
 3   Tm1,0 d   4595 non-null   float64
 4   hdeep     4595 non-null   float64
 5   mmm       4595 non-null   float64
 6   β         4595 non-null   int64
 7   Spread s  4595 non-null   int64
 8   h         4595 non-null   float64
 9   Hm0 toe   4595 non-null   float64
 10  Tp toe    4595 non-null   float64
 11  Tm toe    4595 non-null   float64
 12  Tm1,0t    4595 non-null   float64
 13  ht        4595 non-null   float64
 14  Bt        4595 non-null   float64
 15  cotαd     4595 non-null   float64
 16  cotαu     4595 non-null   float64
 17  cotαexcl  4595 non-null   float64
 18  cotαincl  4595 non-null   float64
 19  gf_d      4595 non-null   float64
 20  D50_d     4595 non-null   float64
 21  gf_u      4595 non-null   float64
 22  D50_u     4595 non-null   float64
 23  gf        4595 non-null   float64
 24  D         4595 non-null   float64
 25  Rc        4595 non-null   float64
 26  B         4595 non-null   float64
 27  hb        4595 non-null   float64
 28  tanαB     4595 non-null   float64
 29  Bh        4595 non-null   float64
 30  Ac        4595 non-null   float64
 31  Gc        4595 non-null   float64
 32  RF        4595 non-null   int64
 33  CF        4595 non-null   int64
 34  WF        4595 non-null   int64
 35  q         4595 non-null   float64
dtypes: float64(31), int64(5)
memory usage: 1.3 MB

In [30]:
training_data_filtered.to_excel('training data filtered.xlsx',index=False)

In [55]:
testing_data = pandas.read_excel('Database_Eurotop_v5 - First scenario (Testing).xlsx')

In [56]:
testing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 40 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Label        1196 non-null   object
 1   CLASH Label  1181 non-null   object
 2   Hm0 d        1196 non-null   float64
 3   Tp d         1196 non-null   float64
 4   Tm d         1196 non-null   float64
 5   Tm1,0 d      1196 non-null   float64
 6   hdeep        1196 non-null   float64
 7   mmm          1172 non-null   float64
 8   β            1196 non-null   int64
 9   Spread s     1196 non-null   int64
 10  h            1196 non-null   float64
 11  Hm0 toe      1196 non-null   float64
 12  Tp toe       1196 non-null   float64
 13  Tm toe       1196 non-null   float64
 14  Tm1,0t       1196 non-null   float64
 15  ht           1196 non-null   float64
 16  Bt           1196 non-null   float64
 17  cotαd        1196 non-null   float64
 18  cotαu        1196 non-null   float64
 19  cotαexcl     1196 non-null   float64
 20  cotαincl     1196 non-null   float64
 21  gf_d         1196 non-null   float64
 22  D50_d        1099 non-null   float64
 23  gf_u         1196 non-null   float64
 24  D50_u        1103 non-null   float64
 25  gf           1196 non-null   float64
 26  D            1099 non-null   float64
 27  Rc           1196 non-null   float64
 28  B            1196 non-null   float64
 29  hb           1196 non-null   float64
 30  tanαB        1196 non-null   float64
 31  Bh           1196 non-null   float64
 32  Ac           1196 non-null   float64
 33  Gc           1196 non-null   float64
 34  RF           1196 non-null   int64
 35  CF           1196 non-null   int64
 36  WF           1196 non-null   int64
 37  q            1196 non-null   float64
 38  Core data    1196 non-null   object
 39  Reference    1196 non-null   object
dtypes: float64(31), int64(5), object(4)
memory usage: 373.9+ KB

In [57]:
testing_data = testing_data.drop(['Label','CLASH Label','Core data','Reference'],axis=1)

In [58]:
testing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Hm0 d     1196 non-null   float64
 1   Tp d      1196 non-null   float64
 2   Tm d      1196 non-null   float64
 3   Tm1,0 d   1196 non-null   float64
 4   hdeep     1196 non-null   float64
 5   mmm       1172 non-null   float64
 6   β         1196 non-null   int64
 7   Spread s  1196 non-null   int64
 8   h         1196 non-null   float64
 9   Hm0 toe   1196 non-null   float64
 10  Tp toe    1196 non-null   float64
 11  Tm toe    1196 non-null   float64
 12  Tm1,0t    1196 non-null   float64
 13  ht        1196 non-null   float64
 14  Bt        1196 non-null   float64
 15  cotαd     1196 non-null   float64
 16  cotαu     1196 non-null   float64
 17  cotαexcl  1196 non-null   float64
 18  cotαincl  1196 non-null   float64
 19  gf_d      1196 non-null   float64
 20  D50_d     1099 non-null   float64
 21  gf_u      1196 non-null   float64
 22  D50_u     1103 non-null   float64
 23  gf        1196 non-null   float64
 24  D         1099 non-null   float64
 25  Rc        1196 non-null   float64
 26  B         1196 non-null   float64
 27  hb        1196 non-null   float64
 28  tanαB     1196 non-null   float64
 29  Bh        1196 non-null   float64
 30  Ac        1196 non-null   float64
 31  Gc        1196 non-null   float64
 32  RF        1196 non-null   int64
 33  CF        1196 non-null   int64
 34  WF        1196 non-null   int64
 35  q         1196 non-null   float64
dtypes: float64(31), int64(5)
memory usage: 336.5 KB

In [59]:
testing_data_filtered = testing_data.dropna(axis=0, how='any')

In [60]:
testing_data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1075 entries, 0 to 1190
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Hm0 d     1075 non-null   float64
 1   Tp d      1075 non-null   float64
 2   Tm d      1075 non-null   float64
 3   Tm1,0 d   1075 non-null   float64
 4   hdeep     1075 non-null   float64
 5   mmm       1075 non-null   float64
 6   β         1075 non-null   int64
 7   Spread s  1075 non-null   int64
 8   h         1075 non-null   float64
 9   Hm0 toe   1075 non-null   float64
 10  Tp toe    1075 non-null   float64
 11  Tm toe    1075 non-null   float64
 12  Tm1,0t    1075 non-null   float64
 13  ht        1075 non-null   float64
 14  Bt        1075 non-null   float64
 15  cotαd     1075 non-null   float64
 16  cotαu     1075 non-null   float64
 17  cotαexcl  1075 non-null   float64
 18  cotαincl  1075 non-null   float64
 19  gf_d      1075 non-null   float64
 20  D50_d     1075 non-null   float64
 21  gf_u      1075 non-null   float64
 22  D50_u     1075 non-null   float64
 23  gf        1075 non-null   float64
 24  D         1075 non-null   float64
 25  Rc        1075 non-null   float64
 26  B         1075 non-null   float64
 27  hb        1075 non-null   float64
 28  tanαB     1075 non-null   float64
 29  Bh        1075 non-null   float64
 30  Ac        1075 non-null   float64
 31  Gc        1075 non-null   float64
 32  RF        1075 non-null   int64
 33  CF        1075 non-null   int64
 34  WF        1075 non-null   int64
 35  q         1075 non-null   float64
dtypes: float64(31), int64(5)
memory usage: 310.7 KB

In [61]:
testing_data_filtered.to_excel('testing data filtered.xlsx',index=False)