## Import data

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('training data filtered.xlsx', index_col=False)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4595 entries, 0 to 4594
Data columns (total 36 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Hm0 d     4595 non-null   float64
 1   Tp d      4595 non-null   float64
 2   Tm d      4595 non-null   float64
 3   Tm1,0 d   4595 non-null   float64
 4   hdeep     4595 non-null   float64
 5   mmm       4595 non-null   float64
 6   β         4595 non-null   int64
 7   Spread s  4595 non-null   int64
 8   h         4595 non-null   float64
 9   Hm0 toe   4595 non-null   float64
 10  Tp toe    4595 non-null   float64
 11  Tm toe    4595 non-null   float64
 12  Tm1,0t    4595 non-null   float64
 13  ht        4595 non-null   float64
 14  Bt        4595 non-null   float64
 15  cotαd     4595 non-null   float64
 16  cotαu     4595 non-null   float64
 17  cotαexcl  4595 non-null   float64
 18  cotαincl  4595 non-null   float64
 19  gf_d      4595 non-null   float64
 20  D50_d     4595 non-null   float64
 21  gf_u      4595 non-null   float64
 22  D50_u     4595 non-null   float64
 23  gf        4595 non-null   float64
 24  D         4595 non-null   float64
 25  Rc        4595 non-null   float64
 26  B         4595 non-null   float64
 27  hb        4595 non-null   float64
 28  tanαB     4595 non-null   float64
 29  Bh        4595 non-null   float64
 30  Ac        4595 non-null   float64
 31  Gc        4595 non-null   float64
 32  RF        4595 non-null   int64
 33  CF        4595 non-null   int64
 34  WF        4595 non-null   int64
 35  q         4595 non-null   float64
dtypes: float64(31), int64(5)
memory usage: 1.3 MB

In [4]:
data.head()

,Hm0 d,Tp d,Tm d,"Tm1,0 d",hdeep,mmm,β,Spread s,h,Hm0 toe,...,B,hb,tanαB,Bh,Ac,Gc,RF,CF,WF,q
0,0.936,7.353000,6.602000,6.118000,5.01,1000.0,0,0,5.01,0.93600,...,0.0,0.0,0.0,0.0,0.99,0.0,1,1,9,0.0256
1,1.006,4.825000,5.201000,4.674000,5.01,1000.0,0,0,5.01,1.00600,...,0.0,0.0,0.0,0.0,0.99,0.0,1,1,9,0.0175
2,0.179,1.451000,1.459000,1.457000,0.80,1000.0,0,0,0.80,0.17900,...,0.0,0.0,0.0,0.0,0.00,0.0,1,1,9,0.0160
3,0.749,7.426000,7.093000,6.172000,5.01,1000.0,0,0,5.01,0.74900,...,0.0,0.0,0.0,0.0,0.99,0.0,1,1,9,0.0123
4,0.242,2.066127,1.721772,1.878297,0.80,50.0,0,0,0.40,0.19635,...,0.0,0.0,0.0,0.0,0.10,0.0,1,1,9,0.0103

In [5]:
features = list(data.columns)[:-1]

In [6]:
len(features)

35

In [7]:
target = list(data.columns)[-1]

In [8]:
target

'q'

In [9]:
data[features[:20]].describe()

,Hm0 d,Tp d,Tm d,"Tm1,0 d",hdeep,mmm,β,Spread s,h,Hm0 toe,Tp toe,Tm toe,"Tm1,0t",ht,Bt,cotαd,cotαu,cotαexcl,cotαincl,gf_d
count,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000
mean,0.195569,1.930719,1.605294,1.768026,2.085273,473.649520,2.742764,0.356910,0.565385,0.170538,1.946802,1.595904,1.809018,0.545948,0.033187,2.179860,4.212347,2.146686,2.444122,0.757236
std,0.429687,1.278625,1.063119,1.157033,11.189520,468.966598,10.082636,1.420102,0.586200,0.273655,1.305323,1.030114,1.161975,0.586400,0.089665,1.375789,11.171761,1.535559,1.692119,0.280734
min,0.028000,0.727200,0.592300,0.661091,0.144420,7.600000,0.000000,0.000000,0.029000,0.020713,0.731800,0.609800,0.665300,0.029000,0.000000,0.000000,-5.000000,-1.331333,-1.331333,0.380000
25%,0.099501,1.384000,1.157260,1.261660,0.550000,50.000000,0.000000,0.000000,0.300000,0.093285,1.384000,1.156522,1.263636,0.300000,0.000000,1.333333,1.250000,1.250000,1.500000,0.400000
50%,0.129000,1.664837,1.387364,1.527273,0.700000,111.111100,0.000000,0.000000,0.480000,0.122000,1.672579,1.389340,1.533273,0.450000,0.000000,2.000000,2.000000,2.000000,2.000000,1.000000
75%,0.160710,1.985897,1.638000,1.818182,0.797000,1000.000000,0.000000,0.000000,0.610000,0.153000,2.040000,1.641667,1.924000,0.610000,0.000000,3.000000,4.000000,3.000000,3.701798,1.000000
max,5.920000,15.000000,12.500000,13.636364,100.000000,1000.000000,80.000000,10.000000,5.010000,2.403070,13.700000,10.792500,10.640000,5.010000,1.000000,7.000000,100.000000,7.863248,11.195402,1.000000

In [10]:
data['β'].value_counts()

0     4150
10      92
25      75
45      60
60      56
20      53
40      20
30      11
15       8
6        8
17       8
12       7
9        5
13       5
11       4
50       4
16       4
5        3
70       3
80       3
18       3
14       3
33       2
1        2
34       1
29       1
32       1
19       1
2        1
7        1
Name: β, dtype: int64

In [11]:
data[features[20:]].describe()

,D50_d,gf_u,D50_u,gf,D,Rc,B,hb,tanαB,Bh,Ac,Gc,RF,CF,WF
count,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000,4595.000000
mean,0.032861,0.777606,0.032626,0.768357,0.032477,0.250762,0.121326,0.016213,0.001878,0.111061,0.241714,0.141359,1.371708,1.063983,7.692927
std,0.141157,0.280656,0.141180,0.273768,0.141137,0.508435,0.286068,0.122135,0.010704,0.250219,0.510447,0.546266,0.483314,0.244749,1.487703
min,0.000000,0.380000,0.000000,0.380000,0.000000,0.000000,0.000000,-0.270000,0.000000,0.000000,-0.030000,0.000000,1.000000,1.000000,6.000000
25%,0.000000,0.400000,0.000000,0.438571,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,1.000000,1.000000,6.000000
50%,0.000000,1.000000,0.000000,1.000000,0.000000,0.148000,0.000000,0.000000,0.000000,0.000000,0.132000,0.000000,1.000000,1.000000,9.000000
75%,0.040000,1.000000,0.040000,1.000000,0.040000,0.200950,0.000000,0.000000,0.000000,0.000000,0.200000,0.150000,2.000000,1.000000,9.000000
max,1.250000,1.000000,1.250000,1.000000,1.250000,4.459281,2.000000,1.090000,0.089655,2.000000,4.459281,4.800000,2.000000,2.000000,9.000000

In [12]:
data[target].describe()

count    4595.000000
mean        0.001222
std         0.008114
min         0.000001
25%         0.000023
50%         0.000080
75%         0.000417
max         0.165000
Name: q, dtype: float64

In [13]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error
import pandas as pd
import numpy as np
import sklearn

In [14]:
X_train = data.iloc[ : , : -1]
y_train = data.iloc[ : , -1]

In [15]:
X_train

,Hm0 d,Tp d,Tm d,"Tm1,0 d",hdeep,mmm,β,Spread s,h,Hm0 toe,...,Rc,B,hb,tanαB,Bh,Ac,Gc,RF,CF,WF
0,0.936000,7.353000,6.602000,6.118000,5.01,1000.0,0,0,5.010000,0.936000,...,0.990000,0.000000,0.00,0.0,0.000000,0.990000,0.00,1,1,9
1,1.006000,4.825000,5.201000,4.674000,5.01,1000.0,0,0,5.010000,1.006000,...,0.990000,0.000000,0.00,0.0,0.000000,0.990000,0.00,1,1,9
2,0.179000,1.451000,1.459000,1.457000,0.80,1000.0,0,0,0.800000,0.179000,...,0.000000,0.000000,0.00,0.0,0.000000,0.000000,0.00,1,1,9
3,0.749000,7.426000,7.093000,6.172000,5.01,1000.0,0,0,5.010000,0.749000,...,0.990000,0.000000,0.00,0.0,0.000000,0.990000,0.00,1,1,9
4,0.242000,2.066127,1.721772,1.878297,0.80,50.0,0,0,0.400000,0.196350,...,0.100000,0.000000,0.00,0.0,0.000000,0.100000,0.00,1,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4590,3.700000,9.200000,7.666670,8.363640,100.00,65.0,10,0,4.220589,2.258360,...,4.277825,0.000000,0.00,0.0,0.000000,4.277825,4.80,2,1,6
4591,0.135167,1.652589,1.377158,1.502354,0.70,1000.0,0,0,0.700000,0.135167,...,0.350000,0.166667,0.15,0.0,0.166667,0.350000,0.00,2,1,6
4592,0.135167,1.652589,1.311579,1.594618,0.70,1000.0,0,0,0.700000,0.135167,...,0.350000,0.166667,0.15,0.0,0.166667,0.350000,0.00,2,1,6
4593,0.077667,1.196576,0.949663,1.146769,0.70,1000.0,0,0,0.700000,0.077667,...,0.180000,1.000000,0.15,0.0,1.000000,0.180000,0.00,2,1,6
4594,0.152000,1.652000,1.484000,1.571000,0.94,20.0,0,0,0.370000,0.128100,...,0.170000,0.500000,0.04,0.0,0.500000,0.170000,0.31,2,1,6

In [16]:
y_train

0       0.025600
1       0.017500
2       0.016000
3       0.012300
4       0.010300
          ...
4590    0.000015
4591    0.000015
4592    0.000015
4593    0.000015
4594    0.000015
Name: q, Length: 4595, dtype: float64

In [17]:
data_dmatrix = xgb.DMatrix(data=X_train, label=y_train)

In [18]:
testing_data = pd.read_excel('testing data filtered.xlsx', index_col=False)

In [19]:
X_test = testing_data.iloc[ : , : -1]
y_test = testing_data.iloc[ : , -1]

In [20]:
X_test

,Hm0 d,Tp d,Tm d,"Tm1,0 d",hdeep,mmm,β,Spread s,h,Hm0 toe,...,Rc,B,hb,tanαB,Bh,Ac,Gc,RF,CF,WF
0,0.155900,1.552000,1.343000,1.424000,0.940000,20.0,0,0,0.370000,0.129600,...,0.170000,0.30,0.040000,0.0,0.30,0.170000,0.310,2,1,6
1,0.168000,1.621149,1.350958,1.473772,0.690000,1000.0,0,0,0.690000,0.168000,...,0.255000,0.00,0.000000,0.0,0.00,0.075000,0.178,2,1,6
2,0.062000,1.251130,1.042609,1.137391,0.700000,50.0,0,0,0.300000,0.058800,...,0.176000,0.00,0.000000,0.0,0.00,0.176000,0.000,2,1,6
3,0.193000,1.920000,1.600000,1.745455,1.400000,52.0,0,0,0.400000,0.193000,...,0.270000,0.15,-0.155000,0.0,0.15,0.270000,0.000,2,1,6
4,0.122000,1.680000,1.400000,1.527273,1.500000,52.0,0,0,0.500000,0.122000,...,0.140000,0.00,0.000000,0.0,0.00,0.140000,0.150,2,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,0.097667,1.623195,1.288250,1.592577,0.700000,1000.0,0,0,0.700000,0.097667,...,0.250000,0.50,0.066667,0.0,0.50,0.250000,0.000,2,2,4
1071,0.115789,1.914213,1.595177,1.740193,0.802632,1000.0,0,0,0.802632,0.115789,...,0.210526,0.00,-0.078947,0.0,0.00,0.105263,0.000,2,2,4
1072,0.160000,2.160000,1.800000,1.963636,0.860000,1000.0,0,0,0.860000,0.114000,...,0.300000,2.00,0.200000,0.0,2.00,0.300000,0.000,2,2,4
1073,0.163000,1.920000,1.600000,1.745455,1.400000,52.0,0,0,0.400000,0.163000,...,0.240000,0.15,-0.155000,0.0,0.15,0.240000,0.000,2,2,4
1074,0.206000,1.830000,1.525000,1.663636,0.780000,1000.0,0,0,0.780000,0.092000,...,0.200000,2.00,0.120000,0.0,2.00,0.200000,0.000,2,2,4

In [21]:
y_test

0       0.000015
1       0.000015
2       0.000015
3       0.000015
4       0.000015
          ...
1070    0.000002
1071    0.000002
1072    0.000001
1073    0.000001
1074    0.000001
Name: q, Length: 1075, dtype: float64

In [22]:
xg_reg = xgb.XGBRegressor(
    objective ='reg:squarederror', 
    colsample_bytree = 0.3, 
    learning_rate = 0.1,
    max_depth = 5, 
    alpha = 10, 
    n_estimators = 10
)

In [23]:
xg_reg.fit(X_train, y_train)

XGBRegressor(alpha=10, base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.3, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.1, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=5, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=10, n_jobs=None, num_parallel_tree=None,
             predictor=None, ...)

In [24]:
preds = xg_reg.predict(X_test)

In [25]:
preds

array([0.1765947, 0.1765947, 0.1765947, ..., 0.1765947, 0.1765947,
       0.1765947], dtype=float32)

In [26]:
y_test

0       0.000015
1       0.000015
2       0.000015
3       0.000015
4       0.000015
          ...
1070    0.000002
1071    0.000002
1072    0.000001
1073    0.000001
1074    0.000001
Name: q, Length: 1075, dtype: float64

In [27]:
rmse = np.sqrt(mean_squared_error(y_test, preds))

In [28]:
rmse

0.17648917405483697

In [29]:
y_test.describe()

count    1075.000000
mean        0.000106
std         0.000438
min         0.000001
25%         0.000003
50%         0.000007
75%         0.000013
max         0.007347
Name: q, dtype: float64

In [30]:
preds_df = pd.DataFrame(preds)

In [31]:
preds_df.describe()

                 0
count  1075.000000
mean      0.176595
std       0.000000
min       0.176595
25%       0.176595
50%       0.176595
75%       0.176595
max       0.176595

In [32]:
mape = mean_absolute_percentage_error(y_test, preds)

In [37]:
preds_df.to_excel('preliminary_results.xlsx', index=False)